@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css');

@font-face {
    font-family: "Beleren Bold";
    src: url("./font/Beleren2016-Bold.woff") format("woff"),
        url("./font/Beleren2016-Bold.ttf") format("truetype"),
        url("./font/Beleren2016-Bold.svg#Beleren2016-Bold") format("svg");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Beleren Bold", sans-serif;
    margin: 0;
    background-color: black;
    background-image: url("./img/kbp_Jason_Rainville.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.floatcontainer {
    margin: auto;
    width: fit-content;
    max-width: 95vw;
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
}

.content {
    font-family: "Beleren Bold", sans-serif;
    color: #ddd;
}

.tracker-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 375px) {
    .tracker-grid {
        grid-template-columns: 1fr;
    }
}

.tile-wrapper {
    position: relative;
    display: flex;
    align-items: stretch;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    gap: 0.25rem;
    min-height: 6.5rem;
    padding: 0 0 0 0.5rem;
}

.manasymbol-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1.5rem;
    flex-shrink: 0;
    padding: 0;
    /* translate: 0 -2px; */
    z-index: 5;
}

.manasymbol-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
}

.manasymbol-icon {
    font-size: 4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 0 -3px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    translate: 0 6px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.quantity {
    font-family: "Beleren Bold", sans-serif;
    flex-grow: 1;
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    color: #ddd;
    z-index: 1;
}

.spinner-btns {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border: none;
}

.spinner-btns button {
    flex: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    color: rgba(255, 255, 255, 0.2);
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
}

.spinner-btns button:active {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
}

.spinner-btns button:first-child {
    border-bottom: none;
}

.resetbtn {
    font-family: "Beleren Bold", sans-serif;
    color: #ddd;
    background-color: transparent;
    border: solid 1px #ddd;
    border-radius: .5rem;
    height: 2.5rem;
    width: 50%;
    font-size: 1.5rem;
    transition: background 0.2s;
}

.resetbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

#sticky-footer a {
    color: #fff;
}